.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #222222;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #757575;
}

.btn {
    margin-top: 4px;
}

.priceTitle {
    margin-top: 16px;
}

.mt4 {
    margin-top: 4px;
}